@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500;700;800&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /*Black*/
  --background-rgb: 229, 229, 229; /*Ivory*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Exo 2", sans-serif;
  overflow: hidden;
}

/* Custom CSS */
.Navbtn {
  @apply hover:underline-offset-4 hover:underline h-full w-fit;
}

.slant {
  height: 100vh;
  color: rgb(var(--background-rgb));
  background-color: rgb(var(--foreground-rgb));
  clip-path: polygon(0 5%, 100% 0, 100% 96%, 0 100%);
  @apply z-[2];
}

.formElement {
  @apply bg-transparent border-2 border-[#e5e5e5] w-[40rem] my-1 p-1;
}

.OptionsBtn:hover {
  animation: Scale 0.1s forwards;
}

.Mascot:hover {
  animation: Scale 0.5s forwards;
}

@keyframes Scale {
  0% {
  }
  100% {
    transform: scaleX(1.1) scaleY(1.1);
  }
}
