@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500;700;800&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 10, 10, 10; /*Black*/
	--background-rgb: 229, 229, 229; /*Ivory*/
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 229, 229, 229;
		--background-rgb: 10, 10, 10;
	}
}

body {
	overflow: hidden;
}
